@use "../../../App.scss" as *;

.container {
  background-color: $color-main_catch;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-family: $main-font-medium;
    color: $color-background_contrast;
    font-size: 12px;
  }
}

.rotate {
  -webkit-animation: rotate-center 1.5s ease-in-out infinite both;
  animation: rotate-center 1.5s ease-in-out infinite both;
  padding-bottom: 20px;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.png{
  width: 100%;
}