@use "../../../App.scss" as *;

.wrapper {
  padding: 25px 0 100px 0;

  .sort {
    color: $font-color_sec;
    font-family: $main-font-medium;
    font-size: 14px;
    line-height: 20px;
    padding: 16px 24px 16px 24px;
  }
}

.notFound{
  font-family: $main-font-medium;
  padding: 20px 0 0 30px;
  color: $font-color_onboard;
}