@use '../../../App.scss' as *;

.container{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 64px;
  align-items: center;
}

.emoji{

}

.link {
  text-decoration: none;
  color: $font-color_main;
}

// Box-Shaddow HardCut
.bg_wrapper{
  background-color: white;
  padding: 14px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.10);
  border-radius: 12px;
  width: 60px ;
}

.cat_name{
  font: $font-size_xs $main-font-medium;
  display: inline-block;
  text-align: center;
  //white-space: nowrap;
}

.images {
  width: 32px;
}