@use '../../../App.scss';

.container{
  width: 154px;
  height: 194px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.10);
}

.image{
  width: 100%;
  border-radius: 12px;
  &_background{

  }
}

.rating_wrapper {
  display: flex;
}

.price {
  color: App.$color-main_catch;
}

.flex{
  display: flex;
}