@use '../../../App.scss' as *;
.container {
display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 26px 16px 22px;
}

.current_search{
  font: $font-size_s $main-font-semibold;
  color: $font-color_main;
}

.clear_search{
  color: $font-color_sec;
  font: $font-size_xs $main-font-semibold;
}