@use "../../../App.scss" as *;

.flex_wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 24px;
}

.input {
  background-color: $color-background_contrast;
  border: none;
  font: $font-size_s $main-font-regular;
  width: 263px;
  padding: 16px 0;
  border-radius: 12px;
}

.button_notFilterSet {
  background-color: $color-main_catch;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  &_image {
    width: 24px;
  }
}

.button_filterSet {
  background-color: #7036d4;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  &_image {
    width: 24px;
  }
}

.input{
  padding-left: 40px;
  background-image: url('../../../assets/images/search.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.label{
  display: none;
}