@font-face {
  font-family: poppins-bold;

  src: url("../src/assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppins-medium;
  src: url("../src/assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: poppins-regular;
  src: url("../src/assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins-semibold;
  src: url("../src/assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

//Font-Families
$main-font-bold: poppins-bold; //700
$main-font-medium: poppins-medium; //500
$main-font-regular: poppins-regular; //400
$main-font-semibold: poppins-semibold; //600

// Color
$color-main_catch: #364fd4;
$color-background_contrast: #f0f3f8;

//Font-Colors
$font-color_main: #1e2126;
$font-color_sec: #b9c1cc;
$font-color_onboard: #828b9a;

//Font-Sizes
$font-size_xs: 0.75rem;
$font-size_s: 0.875rem;
$font-size_m: 1rem;
$font-size_l: 1.25rem;
$font-size_xl: 1.75rem;

//Font-Weights
$font-weight_s: 400;
$font-weight_s: 500;
$font-weight_s: 600;
$font-weight_s: 700;
