@font-face {
  font-family: poppins-bold;
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: poppins-medium;
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: poppins-regular;
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: poppins-semibold;
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

//Font-Families
$main-font-bold: poppins-bold;
$main-font-medium: poppins-medium;
$main-font-regular: poppins-regular;
$main-font-semibold: poppins-semibold;

// Color
$color-main_catch: #364FD4;
$color-background_contrast: #F0F3F8;

//Font-Colors
$font-color_main: #1E2126;
$font-color_sec:  #B9C1CC;

//Font-Sizes
$font-size_xs: 0.75rem;
$font-size_s: 0.875rem;
$font-size_m: 1rem;
$font-size_l: 1.25rem;
$font-size_xl: 1.75rem;

//Font-Weights
$font-weight_s: 400;
$font-weight_s: 500;
$font-weight_s: 600;
$font-weight_s: 700;