@use '../../../App.scss' as *;

.flexbox_wrapper {
  display: flex;
  align-items: baseline;
  column-gap: 20px;
  overflow: scroll;
  padding: 15px 0 25px 23px;
}
.pending{

}

.active{
  color: $color-main_catch;
}

